/*
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ZillaSlab-Regular.a6de1f1eea96.woff2") format("woff2"), url("../fonts/ZillaSlab-Regular.f0a3ad70876e.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ZillaSlab-Bold.ca473b6dca81.woff2") format("woff2"), url("../fonts/ZillaSlab-Bold.86022b521dd3.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/ZillaSlab-RegularItalic.9b514fec6821.woff2") format("woff2"), url("../fonts/ZillaSlab-RegularItalic.6d9a39450334.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/ZillaSlab-BoldItalic.89e8904b0de0.woff2") format("woff2"), url("../fonts/ZillaSlab-BoldItalic.b1fc3a355901.woff") format("woff")
}
*/
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/opensans-regular.668362de763a.woff2") format("woff2"), url("../fonts/opensans-regular.fe6f746bb376.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/opensans-bold.5cf854f3d1c0.woff2") format("woff2"), url("../fonts/opensans-bold.2abfa530b0d8.woff") format("woff")
}





/*
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
*/

@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ZillaSlab-Regular.a6de1f1eea96.woff2") format("woff2"), url("../fonts/ZillaSlab-Regular.f0a3ad70876e.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/ZillaSlab-RegularItalic.9b514fec6821.woff2") format("woff2"), url("../fonts/ZillaSlab-RegularItalic.6d9a39450334.woff") format("woff")
}


@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ZillaSlab-Bold.ca473b6dca81.woff2") format("woff2"), 
    	 url("../fonts/ZillaSlab-Bold.86022b521dd3.woff") format("woff");
}
/*
@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url('../fonts/zillaslabhighlight-bold-webfont.woff2') format('woff2'),
         url('../fonts/zillaslabhighlight-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*/
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-light-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-medium-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-semibold-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/zillaslab-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}




//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin font($name:zilla) {
    
    @if $name == 'opensans' {
        font-family: 'Open Sans', sans-serif;
    }@elseif $name == 'zilla' {
    	font-family: 'Zilla Slab', sans-serif;
    }
}




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hhirzx');
  src:  url('../fonts/icomoon.eot?hhirzx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hhirzx') format('truetype'),
    url('../fonts/icomoon.woff?hhirzx') format('woff'),
    url('../fonts/icomoon.svg?hhirzx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icomoon(){
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
	@include icomoon();
}

.icon-cc:before {
  content: "\e900";
}
.icon-conduct:before {
  content: "\e901";
}
.icon-cookies:before {
  content: "\e902";
}
.icon-legal:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-privacy:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e906";
}
.icon-down:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e986";
}
