
//stupid tinymce grows on hover and click
body#tinymce {height:auto !important;
    line-height: 1.4;}


//used for js resizing instead of windowWidth
#desktop-sized,
#tablet-sized{
	width:1px;height:1px;
}
@include md-max{
	#desktop-sized{
		display: none;
	}
}
@include sm-max{
	#tablet-sized{
		display: none;
	}
}


body,html{
	margin:0;
	padding:0;
	height:100%;
}
body{
	color:#000;
	font-size:16px;
  background-color:#fff;
	line-height:18px;
	@include font();
  font-weight:400;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


/*
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration:none;
  outline: 0;
  
  
  &:hover {
    
  }
}
*/
a{
	color: #48c7ff;
	text-decoration:none;
  @include transition();
	&:hover{
		color:#6bd2ff;
		@include transition();
	}
}


h1,h2{
  font-size:34px;
  line-height:38px;
  margin:22px 0;
  font-weight: 600;
  @include md-max{
    font-size:28px;
    line-height:32px;
  }
  a{
    color: #000;
    &:hover{
      color:#616161;
    }
  }
}

h3{
  font-size: 34px;
  font-weight: 600;
  line-height: 1.12;

  &.bar{
    font-size: 24px;
    line-height: 27px;
    font-weight:400;
    background:#000;
    color:#fff;
    display:inline-block;
    padding:0 1px 0 36px;
  }

}
h4,h5,h6{
  font-size:16px;
  line-height: 22px;
  font-weight: 700;
  margin:30px 0;
  text-transform:uppercase;
    @include sm-max{
      //font-size:20px;
    }
}
h6{
  font-size:14px;
  font-weight: 700;
  margin:10px 0;
  text-transform:uppercase;
    @include sm-max{
      //font-size:20px;
    }
}
p{
  font-size: 24px;
  line-height: 1.33;
  color: #000;
  margin:0 0 20px;
  @include md-max{
    font-size:20px;
  }
}
form{
  font-size:16px;
  @include font();
}
input{
	font-size:16px;
	margin:0;
	@include font('opensans');
}


ul,ol,li{
margin:0;
padding:0;
list-style:none;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}


img{
  border:none;
}

    .cell{
      display:table-cell;
      vertical-align:middle;
    }




.wrap{
  max-width:950px;
  margin:0 auto;
}
  .container{
    max-width: 930px;
    margin:0 10px;
  }







.read-more{
  display:inline-block;
  color:#48c7ff;
  @include font('opensans');
  letter-spacing: 0.4px;
  font-weight:600;
  font-size:17px;
  &.button{
    color:#fff;
    background:#48c7ff;
    padding:12px 15px 11px;
  }
  &:after{
    content: "\e906";
    margin:0 0 0 10px;
    vertical-align:middle;
    @include icomoon();
    font-size:12px;
  }
}






.loader {
    min-height: 0;
    background:none;
    
    .button{
      //display:block;
      margin: 30px auto 25px;
    }

    &.all-posts-loaded{

        .load-more{
            display:none;
        }
        .spinner{
            opacity:0;
            @include transition(400ms, opacity);
        }

    }
    &.loading{
        .load-more-btn{
            display:none;
        }
        .spinner {
            opacity:1;
            @include transition(400ms, opacity);
            font-size: 10px;
            margin: 50px auto;
            text-indent: -9999em;
            width: 11em;
            height: 11em;
            border-radius: 50%;


            background: #a6acff;
            background: -moz-linear-gradient(left, #a6acff 10%, #71e4ff 42%);
            background: -webkit-linear-gradient(left, #a6acff 10%, #71e4ff 42%);
            background: -o-linear-gradient(left, #a6acff 10%, #71e4ff 42%);
            background: -ms-linear-gradient(left, #a6acff 10%, #71e4ff 42%);
            background: linear-gradient(to right, #a6acff 10%, #71e4ff 42%);
            position: relative;
            @include animation('spinning 1.1s infinite');
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            &:before {
                content: '';
                width: 50%;
                height: 50%;
                background: #fff;
                border-radius: 100% 0 0 0;
                position: absolute;
                top: 0;
                left: 0;
            }
            &:after {
                content: '';
                background: #fff;
                width: 75%;
                height: 75%;
                border-radius: 50%;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}



        @include keyframes(spinning) {
            0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            }
            100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            }
        }