.newsletter-signup{
	background:#f1f1f1;
	padding:46px 0 43px;
	margin: 52px 0 0;

	@include md-max{
		padding:29px 0 21px;
	}

	.heading{
		display:inline-block;
		vertical-align:middle;
		max-width: 50%;
		@include md-max{
			display:block;
			max-width:100%;
		}
	}
	h3{
		margin:0 0 15px;
		@include md-max{
			font-size:26px;
		}
	}
	p{
		font-size: 20px;
		line-height: 1.4;
		margin:0;
		@include md-max{
			margin:0 0 16px;
		}
	}
	.signup-form{

		float:right;
		max-width:451px;
		margin:5px 0 0;


		@include lg-max{
			max-width:48%;
		}
		@include md-max{
			float:none;
			max-width:100%;
		}
	}
	.form_group_email{
		float:right;
		margin:0 0 14px;
		@include md-max{
			float:none;
		}
	}

		.signup-form__email{
			width:331px;
			color: #000;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border:0;
			border-radius: 0;
			background: #fff;
			float:left;
			padding:8px 14px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			@include lg-max{
				width: 47%;
				min-width: 137px;
			}
			@include md-max{
				float:none;
				width:100%;
				min-width:100%;
			}
		}
		


		//input[type="submit"]{
		.signup-form__btn{
			display:inline-block;
			float:left;
			@include font('opensans');
			letter-spacing: 0.4px;
			font-weight:600;
			font-size:17px;
			color:#fff;
			background:#48c7ff;
			border:0;
			padding:8px 15px 8px 22px;

			position: absolute;

			@include md-max{
				display: block;
				width: 100%;
				position:relative;
				float:none;
			}
			
			&:after{
				content: "\e906";
				margin:0 0 0 10px;
				vertical-align:middle;
				@include icomoon();
				font-size:12px;
			}

		}


	.form_group-agree{
		float:left;
		margin:15px 0;
		width:100%;
		@include md-max{
			float:none;
		}
	}
		.signup-form__checkbox{
			display:inline-block;
			vertical-align:middle;
			margin:0 5px 0 0;
		}
		.signup-form__checkbox-label{
			font-size:13px;
			display:inline-block;
			vertical-align: middle;
			width: 92%;
			@include font();
			a{
				color:#000;
				text-decoration:underline;
			}
		}
}



.footer-content{
	background:#000;
	padding:50px 0 55px;
	width:100%;
	text-align: center;
	@include md-max{
		text-align:left;
	}

	.container{
		margin:0 20px;
	}

	.link-list{
		margin:0 0 21px;
		@include md-max{
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			-webkit-column-width: 50%;
			-moz-column-width: 50%;
			column-width: 50%;
			-webkit-column-gap: 10px;
			-moz-column-gap: 10px;
			column-gap: 10px;
		}
		a{
			margin:0 14px 15px;
			vertical-align:top;
			color:#fff;
			display:inline-block;
			@include md-max{
				display:block;
				margin:0 0 15px;
			}
			span{
				display:inline-block;
				padding:1px 7px 0 0;
				vertical-align:top;
			}
		}
	}

	.logo{
		width:90px;
		height:26px;
		background:url(../images/mozilla-logo-white.svg) no-repeat;
		display:inline-block;
		vertical-align:middle;
		margin:0 16px 0 35px;
		@include md-max{
			margin:0 0 15px;

		}
	}
	.statement{
		color:#7f7f7f;
		display:inline-block;
		vertical-align:middle;
		max-width:606px;
		line-height:1.63;
		text-align:left;
		a{
			color:#fff;
		}
	}
}