.banner{
	margin:0 0 17px;

	.container{
		
		overflow:hidden;
		position:relative;
		padding:0 0 6px;


		.brand{
			height:55px;
			width:220px;
			background:url(../images/internethealth-logo.svg) no-repeat;
			text-indent:-5555px;
			overflow:hidden;
			display:block;
			margin:20px 26px 19px 0;
			float:left;
			@include md-max{
				margin:10px 20px 10px 0;
			}
		}
		.nav-primary{
			float:left;
			margin:46px 0 0;
			@include md-max{
				width: 100%;
				clear: both;
				float:none;
				border-top:1px solid #000;
			}
			ul{
				list-style:none;	
			}
			li{
				float:left;
				margin:0 24px 0 0;
				@include md-max{
					margin: 0 16px 0 0;
				}
			
				&.current_page_item,
				&.current_menu_item{
					a{
						color: #48c7ff;
					}
				}
			}
			a{
				@include font(opensans);
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.3px;
				color:#000;
				@include md-max{
					padding:14px 5px 16px;
					display:inline-block;
				}
				&:hover{
					color:#616161;
				}

			}
		}
		
		&:after{
			content:'';
			width: 100%;
			height: 6px;
			bottom:0;
			position:absolute;
			display:block;
			@include gradient-underline();
		}
    }
}