.banner{
	margin:0 0 17px;

	.container{
		
		//overflow:hidden;
		height:95px;
		position:relative;
		padding:0 0 6px;
		@include md-max{
			height:auto;
			overflow:hidden;//only because wpml widget is now position:fixed
		}

		.brand{
			height:55px;
			width:220px;
			background:url(../images/internethealth-logo.svg) no-repeat;
			text-indent:-5555px;
			overflow:hidden;
			display:block;
			margin:20px 26px 19px 0;
			float:left;
			@include md-max{
				margin:10px 20px 10px 0;
			}
		}
		.nav-primary{
			float:left;
			margin:46px 0 0;
			@include md-max{
				width: 100%;
				clear: both;
				float:none;
				border-top:1px solid #000;
			}
			ul{
				list-style:none;	
			}
			li{
				float:left;
				margin:0 24px 0 3px;
				padding:0;
				@include md-max{
					margin: 0 16px 0 0;
				}
			
				&.current_page_item,
				&.current_menu_item{
					a{
						color: #48c7ff;
					}
				}
			}
			a{
				@include font(opensans);
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.3px;
				color:#000;
				@include md-max{
					padding:9px 9px 13px 5px;
					display:inline-block;
				}
				&:hover{
					color:#616161;
				}

			}
		}
		
		&:after{
			content:'';
			width: 100%;
			height: 6px;
			bottom:0;
			position:absolute;
			display:block;
			@include gradient-underline();
		}


		.widget{
			position: absolute;
			right: 0;
			top: 38px;
			@include font(opensans);
			@include md-max{
				top:6px;
				position:fixed;
				right:10px;
			}

			.wpml-ls-legacy-dropdown{
				width:159px;
				@include menu-max{
					width:104px;
				}
				a{
					font-size:16px;
					padding:8px 10px;
					border:1px solid #000;
					@include md-max{
						border:none;
						padding:8px 18px 8px 5px;
						font-size:14px;
						text-align:right;
					}
					&.wpml-ls-item-toggle{
						&:before{
							content: '';
							width:10px;
							height:3px;
							border:none;
							position: absolute;
							right: 15px;
							background:#000;
							top: 17px;
							@include rotation(45deg);
							@include md-max{
								right:5px;
							}
						}
						&:after{
							content: '';
							width:10px;
							height:3px;
							border:none;
							position: absolute;
							right: 10px;
							background:#000;
							top: 17px;
							@include rotation(-45deg);
							@include md-max{
								right:0;
							}
						}
					}
				}
			}
			.wpml-ls-sub-menu{

				a{
					border-top:0;
				}
			}

		}
    }
}