.home-about{



	.hero{
		background-repeat: no-repeat;
		background-position: right center;
		background-size:484px 330px;
		min-height:330px;
		display:table;
		width:100%;
		margin:0 0 28px;
		@include md-max{
			background:none!important;
			min-height: 0;
		}
		.copy{
			padding:30px 0;
			max-width:560px;
			@include md-max{
				padding: 5px 0 20px;
			}
		}
	}


	h1{
		font-size:52px;
		line-height:1;
		margin:7px 0 7px;
		@include md-max{
			font-size:38px;
		}
	}



	.feature-pages{
		width:100%;
		overflow:hidden;
		padding:0 0 75px;
		margin:0 0 50px;
		position:relative;

		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		@include md-max{
			display:block;
			padding:0 0 10px;
			margin:0 0 32px;
		}

		&:after{
			content:'';
			width: 100%;
			height: 4px;
			bottom:0;
			position:absolute;
			display:block;
			@include gradient-underline();
		}
	}
		.feature{
			max-width:450px;
			//float:left;
			position:relative;
			@include md-max{
				margin:0 0 40px;
				max-width:100%;
			}
			&.right{
				//float:right;
				margin-left:30px;
				@include md-max{
					margin-left:0;
				}
			}
			img{
				max-width:100%;
				height:auto;
				@include md-max{
					width:100%;
				}
			}
			.copy{
				max-width:357px;
				background:#fff;
				padding:18px 22px 39px 33px;
				margin: -69px 0 0;
				position: relative;
				@include lg-max{
					margin:0;
					padding:14px 3% 38px;
				}
				@include md-max{
					padding:10px 0 0;
					max-width:100%;
				}
			}
				h2{
					margin:0 0 8px;
				}
				p{
					margin:0 0 16px;
					font-size: 20px;
					line-height: 1.4;
				}
			.read-more{
				position: absolute;
				bottom:0;
				left:33px;
				@include lg-max{
					left:3%;
				}
				@include md-max{
					position:relative;
					left:0;
				}
			}
		}




	.featured-blog-posts{

		margin:0 0 58px;

		@include md-max{
			margin:0 0 33px;
		}
		h3{
			margin:0 0 51px;
			@include md-max{
				margin:0 0 33px;
			}
		}

		//.entry-container in _posts.scss

		.read-more{
			margin:13px 0;
			@include md-max{
				margin:0 0 11px;
			}
		}	

	}


}