/*listing pages*/

.entry-container{
	display:block;
	margin: 0 0 20px;
	@include md-max{
		margin:0 0 42px;
	}
	img{
		margin:0 29px 20px 0;
		@include lg-max{
			margin-right:3%;
			max-width: 30%;
			height: auto;
		}
		@include md-max{
			max-width:100%;
			width:100%;
			margin:0 0 10px;
		}
	}
	h2{
		margin:26px 0 23px;
		@include menu-max{
			font-size:28px;
			line-height:32px;
			margin:16px 0 13px;
		}
		@include md-max{
			margin:0 0 10px;
		}
	}
}




.entry-copy{
	display:inline-block;
	vertical-align:top;
	position:relative;
	width:603px;
	@include lg-max{
		width:66%;
	}
	@include md-max{
		width:100%;
	}

	&:before{
		content:'';
		position:absolute;
		top:2px;
		left:0;
		width:100%;
		height:1px;
		background:#000;
		@include md-max{
			display:none;
		}
	}

}


.entry-meta{//used in features and blog listing
	@include md-max{
		line-height: 26px;
	}
	.pipe{
		margin:0 5px;
	}
	.cat{
		span{
			background:#b0b3e7;
			color:#fff;
			padding:0 1px;
			a{
				color:#fff;
				text-decoration:none;
			}
		}
	}
	.byline{

	}
		.author{

		}
	.entry-date{
		
	}
	a{
		text-decoration:underline;
		color:#000;
	}
}


.wp-caption-text{
	font-size: 14px;
	line-height: 1.43;
	margin: -20px 0 18px;
	text-align: center;
}