/*single posts*/


//override hypothes.is styles
.annotator-highlights-always-on .annotator-hl{
	background:#d7d9f3!important;
}

.annotator-frame{
	.annotator-toolbar{
		top: 165px;

		.annotator-frame-button{
			background-color: #d7d9f3;
			border:0;
			height:34px;
			width:34px;
			@include border-radius(0);
			border:0;
			padding:0;
			margin:0 0 2px;

			&.h-icon-visibility:before{
				content: "\e90c";
				@include icomoon();
			}
			&.h-icon-note:before{
				content: "\e90a";
				@include icomoon();
			}

			&.annotator-frame-button--sidebar_toggle{
				padding:0;
				margin:0 0 2px;
				&.h-icon-chevron-left:before{
					content: "\e90b";
					@include icomoon();
				}
			}
		}
	}
	
}


body{
	.annotator-frame .annotator-bucket-bar{
		background:none;
	}
	.annotator-frame .annotator-bucket-indicator{
		@include border-radius(0);
		border:0;
		background:none;
	}
	.annotator-frame .annotator-bucket-indicator .label{
		background:#d7d9f3;
		font-size:16px;
		line-height:20px;
		font-family:inherit;
		padding:4px 0;
		font-weight:500;
	}
	.annotator-frame .annotator-bucket-indicator:after {
	border-width: 13px;
	border-right: 8px solid #d7d9f3;
	margin-top: -7px;
	}
	.annotator-frame .annotator-bucket-indicator:before {
		border-right:0;
	}
	
}





.single-post-container{
	max-width:608px;
	margin:46px auto 108px;
	position:relative;
	@include md-max{
		margin:20px auto 60px;
	}
	.share{
		position:fixed;
		left:50%;
		margin:0 0 0 -460px;
		top:150px;
		text-align:center;
		@include lg-max{
			left: 10px;
			margin:0;
		}
		@media (max-width: 750px) {
			display:none;
		}
		&.is-fixed-bottom{
			position: absolute;
			bottom: 0;
			top: auto;
			@include lg-max{
				left: 10px;
				margin:0;
			}
		}
		a{
			color:#8e8e8e;
			display:block;
			margin:0 0 17px;
		}
		.share__text{
			font-size:14px;
			margin:0 0 7px;
			@include font('opensans');
			display:block;
		}
	}


	img{
		margin:30px 0;
		max-width:100%;
		height:auto;
		@include md-max{
			margin:22px 0;
		}
	}
	.entry-title{
		@include md-max{
			margin:22px 0 13px;
		}
	}
	.entry-content{

		iframe{
			width:100%;
			min-height: 341px;
			@include md-max{
				min-height: 53vw;
			}
		}

		blockquote{
			position:relative;
			padding:59px 0 0 24px;
			margin:0 0 30px;
			font-size:24px;
			font-weight:400;
			line-height:1.33;
			font-style:italic;

			&:before{
				content: "\e909";
				@include icomoon();
				position:absolute;
				top:17px;
				left:0;
				color:#f3f3f3;
				font-size:78px;
				z-index:-1;
			}
			
			p,
			&:first-of-type{
				p:first-child{
					font-size:24px;
					line-height:1.33;
					font-weight:400;
				}

			}
		}

		&:first-of-type{
			p:first-child{
				font-size:24px;
				line-height:32px;
				@include md-max{
					font-size:18px;
					line-height:24px;
					font-weight:500;
				}
			}

		}
	}
}

.single-post-extras{
	padding:43px 0 0;
	position:relative;
	&:before{
		content:'';
		width: 100%;
		height: 4px;
		top:0;
		left:0;
		position:absolute;
		display:block;
		@include gradient-underline();
	}
}