/*single posts*/




.single-post-container{
	max-width:608px;
	margin:41px auto 108px;
	position:relative;

	.share{
		position:fixed;
		left:50%;
		margin:0 0 0 -460px;
		top:150px;
		text-align:center;
		@include lg-max{
			left: 10px;
			margin:0;
		}
		@media (max-width: 750px) {
			display:none;
		}
		&.is-fixed-bottom{
			position: absolute;
			bottom: 0;
			top: auto;
			@include lg-max{
				left: 10px;
				margin:0;
			}
		}
		a{
			color:#8e8e8e;
			display:block;
			margin:0 0 17px;
		}
		.share__text{
			font-size:14px;
			margin:0 0 7px;
			@include font('opensans');
			display:block;
		}
	}


	img{
		margin:30px 0;
		max-width:100%;
		height:auto;
	}
	p:first-child{
		font-size:24px;
		line-height:32px;
	}
}

.single-post-extras{
	margin:43px 0 0;
	position:relative;
	&:before{
		content:'';
		width: 100%;
		height: 4px;
		top:0;
		left:0;
		position:absolute;
		display:block;
		@include gradient-underline();
	}
}